<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Imprimindo Documento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/documentos.css') }}">
</head>
<body>
    <div class="documento-container page-break-avoid">
        {{ html_documento|safe }}
    </div>
    <script>
        window.onload = function() {
            window.print();
            // Opcional: fechar a aba após imprimir
            // window.onafterprint = function() { window.close(); };
        }
    </script>
</body>
</html>
